html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css */

h1 {
    font-size: 40px;
    margin: 20px;
    text-align: center;
}
hr {
    border: 1px dotted black;
    width: 700px;
    margin-top: 30px;
}
h2 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
.test-box {
    background-color: rgb(175, 223, 175);
    width: 200px;
    height: 200px;
    padding: 10px;
    box-shadow:  inset 0 0 0 15px rgb(133, 133, 212);
    border: 5px solid black;
    outline: pink solid 10px;
    margin-left: 800px; 
    margin-top: 30px;
}
.circle {
    text-align: center;
    margin-top: 50px;
    margin-left: 700px;
    display: inline-block;
}
.circle1 {
    background-color:rgb(175, 223, 175) ;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}
.circle2 {
    background-color:rgb(133, 133, 212) ;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 50px;
    border-radius: 50%;
}
.circle3 {
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 50px;
    border-radius: 50%;
}
.circle4 {
    background-color:pink ;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 50px;
    border-radius: 50%;
}
h3 {
    text-align: center;
    margin-top: 30px;
}
.parent {
    width: 600px;
    border: 1px solid;
    margin-left: 650px;
    margin-top: 20px;
    display: inline-block;
}
.child1 {
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}
.child2 {
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}
.child3 {
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

.parent2 {
    width: 600px;
    border: 1px solid;
    margin-left: 650px;
    margin-top: 20px;
    display: inline-block;

}
.child4 {
    width: 180px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}
.child5 {
    width: 180px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}
.child6 {
    width: 180px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}
.parent3 {
    width: 600px;
    border: 1px solid;
    margin-left: 650px;
    margin-top: 20px;
    display: inline-block;
}
.child7{
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}
.child8{
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;  
    border: 1px solid black;
}
.child9{
    width: 170px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}